In [1]:
#Pandas >>>> Series , DataFrame

In [2]:
import pandas as pd

In [3]:
obj=pd.Series([4,5,6,7])

In [4]:
obj

0    4
1    5
2    6
3    7
dtype: int64

In [5]:
# value
# index

In [6]:
sales= pd.Series([100,200,400,500])

In [7]:
sales

0    100
1    200
2    400
3    500
dtype: int64

In [8]:
sales.values

array([100, 200, 400, 500], dtype=int64)

In [9]:
sales.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
sales=pd.Series([6562,6529,6520,6530],index=["Farhan","Daud","Ali","Asad"], name="BSSE Class Data")

In [14]:
sales

Farhan    6562
Daud      6529
Ali       6520
Asad      6530
Name: BSSE Class Data, dtype: int64

# canteen 7 data...how many sandwich are sold each day

In [15]:
canteen_data=pd.Series([20,30,40,50,5,40,60],index=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])

In [16]:
canteen_data

Monday       20
Tuesday      30
Wednesday    40
Thursday     50
Friday        5
Saturday     40
Sunday       60
dtype: int64

# Access data

In [17]:
canteen_data[1]

30

In [18]:
canteen_data[3]

50

In [19]:
canteen_data["Monday"]

20

In [20]:
# to get multiple values then we use

In [21]:
canteen_data[[0,2,4]]

Monday       20
Wednesday    40
Friday        5
dtype: int64

In [22]:
canteen_data>30

Monday       False
Tuesday      False
Wednesday     True
Thursday      True
Friday       False
Saturday      True
Sunday        True
dtype: bool

# Modify Data By +,-,*,/

In [23]:
canteen_data*2

Monday        40
Tuesday       60
Wednesday     80
Thursday     100
Friday        10
Saturday      80
Sunday       120
dtype: int64

In [24]:
canteen_data-2

Monday       18
Tuesday      28
Wednesday    38
Thursday     48
Friday        3
Saturday     38
Sunday       58
dtype: int64

In [25]:
canteen_data

Monday       20
Tuesday      30
Wednesday    40
Thursday     50
Friday        5
Saturday     40
Sunday       60
dtype: int64

In [27]:
"Monday" in canteen_data

True

In [29]:
import numpy as np

In [30]:
array=np.array([1,2,3,4,5,6])

In [31]:
array

array([1, 2, 3, 4, 5, 6])

In [32]:
series=pd.Series(array)

In [33]:
series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

# From Dict to Pandas series

In [34]:
Student_Data={"Farhan":6562, "Daud":6529, "Dua":6500, "Yashal":6798, "Javeria":4500 ,"Arooj":2002 , "Ali":7800, "Alina":9800,"Madiha":8900}

In [35]:
Student_Series=pd.Series(Student_Data)

In [36]:
Student_Series

Farhan     6562
Daud       6529
Dua        6500
Yashal     6798
Javeria    4500
Arooj      2002
Ali        7800
Alina      9800
Madiha     8900
dtype: int64

# Task How to add 2 different Series and what is the concept behind this ?